.modal-content {
  border-radius: 10px;
}

.modal-header {
  background: #111827;
  color: #fff;
  border-bottom: 1px solid #dee2e6;
}

/* .modal-header .btn-close {
  filter: invert(1) brightness(2); 
} */
.modal-footer {
  border-top: 1px solid #dee2e6;
}
